<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav disableClose #sidenav mode="side" opened class="example-sidenav">
    @for (route of routing.mainRoutes(); track route.name) {
      @if (route.route) {
        <button
          class="nav__button"
          matButton
          [routerLink]="route.routerLink"
          routerLinkActive="nav__button--active">
          <mat-icon class="material-symbols-outlined nav__button__icon">
            {{ route.icon }}
          </mat-icon>
          <span>{{ route.name }}</span>
        </button>
      }
    }
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <p><button matButton (click)="sidenav.toggle()">Toggle</button></p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
