@use '@angular/material' as mat;

:host {
  display: flex;
  gap: 10px;
  &.column {
    flex-direction: column;
    align-items: stretch;
    .nav-button {
      justify-content: flex-start;
    }
  }
  &:not(.column) {
    flex-direction: row;
    align-items: center;
  }
  justify-content: space-around;

  .nav-button {
    display: flex;
    align-items: center;
    @include mat.button-overrides(
      (
        text-touch-target-size: 56px,
      )
    );
    &--column {
      flex-direction: column;
    }

    &__icon {
      margin: 0;
    }
    &--active {
      @include mat.toolbar-overrides(
        (
          container-text-color: var(--mat-sys-on-secondary-container, purple),
        )
      );
      @include mat.button-overrides(
        (
          text-label-text-color: var(--mat-sys-on-secondary-container, purple),
        )
      );
    }
  }
}
