@for (route of routing.mainRoutes(); track route.name) {
  @if (!route.route) {
    <button
      [class.nav-button--column]="columnButton()"
      (click)="route.click()"
      class="nav-button"
      matFab>
      <mat-icon class="material-symbols-outlined">{{ route.icon }}</mat-icon>
      <span>{{ route.name }}</span>
    </button>
  } @else {
    <button
      [class.nav-button--column]="columnButton()"
      class="nav-button"
      matButton
      [routerLink]="route.routerLink"
      routerLinkActive="nav-button--active">
      <mat-icon class="material-symbols-outlined nav-button__icon">
        {{ route.icon }}
      </mat-icon>
      <span>{{ route.name }}</span>
    </button>
  }
}
