@use '@angular/material' as mat;

:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;

  .container {
    flex: 1;
  }

  &.landscape {
    flex-direction: row;

    .nav {
      height: 100%;
      flex-direction: column;
      &:not(.nav--web) {
        padding: 0;
      }
    }
  }

  &:not(.landscape) {
    flex-direction: column-reverse;

    .nav {
      &:not(.nav--web) {
        display: grid;
        grid-template-columns: repeat(2, 1fr) auto repeat(2, 1fr);
        gap: 5px;
        padding: 5px;
      }
      height: auto;
      padding: 5px;
    }
  }

  .nav {
    &:not(.nav--web) {
      justify-content: space-around;
      align-items: stretch;
      width: initial;
      .nav__button {
        border-color: transparent;
        height: 100%;
        flex: 1 0;
        &--active {
          font-weight: bold;
        }
      }
    }
    &--web {
      gap: 10px;
      padding: 10px;
      align-items: start;
      width: 150px;
      align-items: stretch;
      .nav__button {
        justify-content: start;
        gap: 5px;
        padding: 5px;
      }
    }

    &__button {
      display: flex;
      &--mobile {
        flex-direction: column;
        align-items: center;
      }
      &:not(.nav__button--active) {
        border-color: transparent;
      }
      @include mat.button-overrides(
        (
          text-container-shape: 0px,
          outlined-container-shape: 0px,
        )
      );

      &__icon {
        margin: 0;
      }
      &--active {
        border: 1px solid;
        @include mat.toolbar-overrides(
          (
            container-text-color: var(--mat-sys-on-surface-variant, purple),
          )
        );
      }
    }
  }
}
