<mat-toolbar class="nav" [class.nav--web]="!device.mobile()">
  @if (!device.mobile()) {
    <h1>Hortinis</h1>
  }
  @for (route of routing.routes(); track route.name) {
    @if (!route.route) {
      <button
        (click)="route.click()"
        class="nav__button nav__button--fab"
        [class.nav__button--mobile]="device.mobile()"
        matButton="outlined">
        <mat-icon class="material-symbols-outlined nav__button__icon">{{ route.icon }}</mat-icon>
        <span>{{ route.name }}</span>
      </button>
    } @else {
      <button
        class="nav__button"
        matButton="outlined"
        routerLinkActive="nav__button--active"
        [routerLink]="route.routerLink"
        [class.nav__button--mobile]="device.mobile()">
        <mat-icon class="material-symbols-outlined nav__button__icon">
          {{ route.icon }}
        </mat-icon>
        <span>{{ route.name }}</span>
      </button>
    }
  }
</mat-toolbar>
<main class="container">
  <router-outlet></router-outlet>
</main>
