@use '@angular/material' as mat;

:root {
  .layout {
    &.landscape {
      :host {
        flex-direction: row;

        .nav {
          height: 100%;
          flex-direction: column;
          &:not(.nav--web) {
            padding: 0;
          }
        }
      }
      &.mobile {
        :host {
          .nav {
            min-width: 90px;

            .nav__button {
              width: 100%;
              min-width: 0;
            }
          }
        }
      }
    }

    &:not(.landscape) {
      :host {
        flex-direction: column-reverse;

        .nav {
          height: auto;
          padding: 5px;
        }
      }
    }
    &.mobile {
      &:not(.landscape) {
        :host {
          .nav {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 5px;
            padding: 5px;
          }
        }
      }
      :host {
        .nav {
          justify-content: space-around;
          align-items: stretch;
          width: initial;
          .nav__button {
            border-color: transparent;
            height: 100%;
            flex: 1 1 0;
            padding: 5px;
            &--active {
              font-weight: bold;
            }
          }
        }
        .nav {
          .nav__button {
            min-width: 0;
            flex: 1 1 0;

            &--active {
              font-weight: bold;
            }
          }
        }
      }
    }
    &:not(.mobile) {
      :host {
        .nav {
          gap: 10px;
          padding: 10px;
          align-items: start;
          width: 150px;
          align-items: stretch;
          .nav__button {
            justify-content: start;
            gap: 5px;
            padding: 5px;
          }
        }
      }
    }
  }
}
:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;

  .container {
    flex: 1;
  }

  .nav {
    &__brand {
      &__icon {
        object-fit: contain;
        position: relative !important;
      }
      position: relative;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 50px;
      align-items: center;
    }
    &__button {
      display: flex;
      &--mobile {
        flex-direction: column;
        align-items: center;
      }
      &:not(.nav__button--active) {
        border-color: transparent;
      }
      @include mat.button-overrides(
        (
          text-container-shape: 5px,
          outlined-container-shape: 5px,
        )
      );

      &__icon {
        margin: 0;
      }
      &--active {
        border: 1px solid;
        @include mat.toolbar-overrides(
          (
            container-text-color: var(--mat-sys-on-surface-variant, purple),
          )
        );
      }
    }
  }

  .nav__button {
    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--mat-sys-on-surface-variant),
        outlined-outline-color: transparent,
      )
    );
  }

  .nav__button--active {
    background: var(--mat-sys-primary-container);

    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--mat-sys-on-primary-container),
        outlined-outline-color: transparent,
      )
    );
  }
}
